:root {
  --white-color: hsl(0, 0%, 100%);
  --lightGray-color: hsl(212, 45%, 89%);
  --grayishBlue-color: hsl(220, 15%, 55%);
  --darkblue-color: hsl(218, 44%, 22%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightGray-color);
  font-family: "Outfit", sans-serif;
  font: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.card {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: 0 1em;
  box-shadow: 1px 3px 25px 5px rgba(0, 0, 0, 0.26);
}
.card img {
  width: 100%;
}
img {
  border-radius: 10px;
}
.text-card {
  padding: 20px 12px;
}

.text-card h2 {
  font-size: 1.5rem;
  color: var(--darkblue-color);
  font-weight: 700;
  padding-bottom: 15px;
}

.text-card p {
  color: var(--grayishBlue-color);
  font-weight: 400;
}
